<!-- CONTENT HEADING -->
<% if (title) { %>
<h1><%= title %></h1>
<% } else { %> res.redirect("/"); <% } %>

<!-- MESSAGE BLOCK -->
<%- messages() %>

<!-- Display Validation Errors -->
<% if (errors) { %>
<div id="messages">
  <ul class="notice">
    <% errors.array().forEach(error => { %>
    <li><%= error.msg %></li>
    <% }) %>
  </ul>
</div>
<% } %>

<!-- Account Management Info -->

<div>
  <% if (locals.accountData.account_type < 2) { %>
  <h2>Welcome, <%= locals.accountData.account_firstname %></h2>
  <% } else if (locals.accountData.account_type > 1) { %>
  <h2>Welcome, <%= locals.accountData.account_firstname %></h2>

  <h3>Inventory Management</h3>
  <p>Use the links below to manage inventory.</p>
  <a href="../inventory/management" title="Click to add and manage inventory"
    >Vehicle Management</a
  >
  <% } %>
</div>

<div>
  <p>You're logged in!</p>
</div>

<!-- Update Account Information -->
<div>
  <h3>Update Account Information</h3>
  <p>Use the link below to update your account information.</p>
  <a href="/account/acc-update" title="Click to update account information"
    >Update Account Information</a
  >
</div>
